.elementor-330 .elementor-element.elementor-element-9e725f3:not(.elementor-motion-effects-element-type-background),
.elementor-330 .elementor-element.elementor-element-9e725f3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url(../../2021/03/hero-banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.elementor-330 .elementor-element.elementor-element-9e725f3 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 150px 20px 100px
}

.elementor-330 .elementor-element.elementor-element-9e725f3>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-330 .elementor-element.elementor-element-b624eda {
    text-align: center
}

.elementor-330 .elementor-element.elementor-element-b624eda .elementor-heading-title {
    color: #fff;
    font-family: poppins, Sans-serif;
    font-size: 50px;
    font-weight: 600
}

.elementor-330 .elementor-element.elementor-element-a851b3d {
    text-align: center
}

.elementor-330 .elementor-element.elementor-element-a851b3d .elementor-heading-title {
    color: #0d0d0d
}

.elementor-330 .elementor-element.elementor-element-ad1d6e1 .elementor-button {
    background-color: #295aff
}

.elementor-330 .elementor-element.elementor-element-4bada45f {
    padding: 80px 20px 100px
}

.elementor-330 .elementor-element.elementor-element-a5cec49 {
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 400
}

.elementor-330 .elementor-element.elementor-element-f90077c .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.3em
}

.elementor-330 .elementor-element.elementor-element-708302e8>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-330 .elementor-element.elementor-element-1bd87ee2>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0 0 0 50px
}

.elementor-330 .elementor-element.elementor-element-6ae097bb .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3em
}

.elementor-330 .elementor-element.elementor-element-05a67ef .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2)
}

.elementor-330 .elementor-element.elementor-element-05a67ef .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2)
}

.elementor-330 .elementor-element.elementor-element-05a67ef .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2)
}

.elementor-330 .elementor-element.elementor-element-05a67ef .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2)
}

body.rtl .elementor-330 .elementor-element.elementor-element-05a67ef .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2)
}

body:not(.rtl) .elementor-330 .elementor-element.elementor-element-05a67ef .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2)
}

.elementor-330 .elementor-element.elementor-element-05a67ef .elementor-icon-list-icon i {
    color: var(--e-global-color-feb3ea1)
}

.elementor-330 .elementor-element.elementor-element-05a67ef .elementor-icon-list-icon svg {
    fill: var(--e-global-color-feb3ea1)
}

.elementor-330 .elementor-element.elementor-element-05a67ef {
    --e-icon-list-icon-size: 20px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0
}

.elementor-330 .elementor-element.elementor-element-05a67ef .elementor-icon-list-text {
    padding-left: 15px
}

.elementor-330 .elementor-element.elementor-element-05a67ef .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-330 .elementor-element.elementor-element-05a67ef .elementor-icon-list-item>a {
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 400
}

.elementor-330 .elementor-element.elementor-element-7ef6693b>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-330 .elementor-element.elementor-element-7ef6693b {
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 0
}

.elementor-330 .elementor-element.elementor-element-a192e38 .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3em
}

.elementor-330 .elementor-element.elementor-element-1e727699 {
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 400
}

.elementor-330 .elementor-element.elementor-element-3bc8a6b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2)
}

.elementor-330 .elementor-element.elementor-element-3bc8a6b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2)
}

.elementor-330 .elementor-element.elementor-element-3bc8a6b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2)
}

.elementor-330 .elementor-element.elementor-element-3bc8a6b .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2)
}

body.rtl .elementor-330 .elementor-element.elementor-element-3bc8a6b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2)
}

body:not(.rtl) .elementor-330 .elementor-element.elementor-element-3bc8a6b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2)
}

.elementor-330 .elementor-element.elementor-element-3bc8a6b .elementor-icon-list-icon i {
    color: var(--e-global-color-feb3ea1)
}

.elementor-330 .elementor-element.elementor-element-3bc8a6b .elementor-icon-list-icon svg {
    fill: var(--e-global-color-feb3ea1)
}

.elementor-330 .elementor-element.elementor-element-3bc8a6b {
    --e-icon-list-icon-size: 20px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0
}

.elementor-330 .elementor-element.elementor-element-3bc8a6b .elementor-icon-list-text {
    padding-left: 15px
}

.elementor-330 .elementor-element.elementor-element-3bc8a6b .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-330 .elementor-element.elementor-element-3bc8a6b .elementor-icon-list-item>a {
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 400
}

.elementor-330 .elementor-element.elementor-element-24b9c693>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-330 .elementor-element.elementor-element-24b9c693>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-330 .elementor-element.elementor-element-bc300a8>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-330 .elementor-element.elementor-element-98411e3>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0 0 0 50px
}

.elementor-330 .elementor-element.elementor-element-a1ff2c0 .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3em
}

.elementor-330 .elementor-element.elementor-element-b996c48 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2)
}

.elementor-330 .elementor-element.elementor-element-b996c48 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2)
}

.elementor-330 .elementor-element.elementor-element-b996c48 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2)
}

.elementor-330 .elementor-element.elementor-element-b996c48 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2)
}

body.rtl .elementor-330 .elementor-element.elementor-element-b996c48 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2)
}

body:not(.rtl) .elementor-330 .elementor-element.elementor-element-b996c48 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2)
}

.elementor-330 .elementor-element.elementor-element-b996c48 .elementor-icon-list-icon i {
    color: var(--e-global-color-feb3ea1)
}

.elementor-330 .elementor-element.elementor-element-b996c48 .elementor-icon-list-icon svg {
    fill: var(--e-global-color-feb3ea1)
}

.elementor-330 .elementor-element.elementor-element-b996c48 {
    --e-icon-list-icon-size: 20px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0
}

.elementor-330 .elementor-element.elementor-element-b996c48 .elementor-icon-list-text {
    padding-left: 15px
}

.elementor-330 .elementor-element.elementor-element-b996c48 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-330 .elementor-element.elementor-element-b996c48 .elementor-icon-list-item>a {
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 400
}

.elementor-330 .elementor-element.elementor-element-a540677>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-330 .elementor-element.elementor-element-a540677 {
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 0
}

.elementor-330 .elementor-element.elementor-element-6c65644 .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3em
}

.elementor-330 .elementor-element.elementor-element-7902b45 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2)
}

.elementor-330 .elementor-element.elementor-element-7902b45 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2)
}

.elementor-330 .elementor-element.elementor-element-7902b45 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2)
}

.elementor-330 .elementor-element.elementor-element-7902b45 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2)
}

body.rtl .elementor-330 .elementor-element.elementor-element-7902b45 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2)
}

body:not(.rtl) .elementor-330 .elementor-element.elementor-element-7902b45 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2)
}

.elementor-330 .elementor-element.elementor-element-7902b45 .elementor-icon-list-icon i {
    color: var(--e-global-color-feb3ea1)
}

.elementor-330 .elementor-element.elementor-element-7902b45 .elementor-icon-list-icon svg {
    fill: var(--e-global-color-feb3ea1)
}

.elementor-330 .elementor-element.elementor-element-7902b45 {
    --e-icon-list-icon-size: 20px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0
}

.elementor-330 .elementor-element.elementor-element-7902b45 .elementor-icon-list-text {
    padding-left: 15px
}

.elementor-330 .elementor-element.elementor-element-7902b45 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-330 .elementor-element.elementor-element-7902b45 .elementor-icon-list-item>a {
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 400
}

.elementor-330 .elementor-element.elementor-element-d75af8b>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-330 .elementor-element.elementor-element-d75af8b>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-330 .elementor-element.elementor-element-e58850f {
    text-align: center
}

.elementor-330 .elementor-element.elementor-element-e58850f .elementor-heading-title {
    color: #0d0d0d
}

.elementor-330 .elementor-element.elementor-element-8ea9a25 .elementor-button {
    background-color: #295aff
}

@media(max-width:1024px) {
    .elementor-330 .elementor-element.elementor-element-b624eda .elementor-heading-title {
        font-size: 40px
    }

    .elementor-330 .elementor-element.elementor-element-4bada45f {
        padding: 50px 20px 80px
    }

    .elementor-330 .elementor-element.elementor-element-1bd87ee2>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }

    .elementor-330 .elementor-element.elementor-element-51a6ea3d img {
        width: 100%;
        max-width: 60%
    }

    .elementor-330 .elementor-element.elementor-element-55884a5d img {
        width: 100%;
        max-width: 60%
    }

    .elementor-330 .elementor-element.elementor-element-98411e3>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }

    .elementor-330 .elementor-element.elementor-element-42368ba img {
        width: 100%;
        max-width: 60%
    }
}

@media(max-width:767px) {
    .elementor-330 .elementor-element.elementor-element-9e725f3 {
        padding: 100px 10px 80px
    }

    .elementor-330 .elementor-element.elementor-element-b624eda .elementor-heading-title {
        font-size: 36px
    }

    .elementor-330 .elementor-element.elementor-element-4bada45f {
        padding: 50px 20px
    }

    .elementor-330 .elementor-element.elementor-element-a5cec49 {
        font-size: 14px
    }

    .elementor-330 .elementor-element.elementor-element-f90077c {
        text-align: center
    }

    .elementor-330 .elementor-element.elementor-element-f90077c .elementor-heading-title {
        font-size: 25px
    }

    .elementor-330 .elementor-element.elementor-element-6ae097bb .elementor-heading-title {
        font-size: 25px
    }

    .elementor-330 .elementor-element.elementor-element-05a67ef .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-330 .elementor-element.elementor-element-05a67ef .elementor-icon-list-item>a {
        font-size: 15px
    }

    .elementor-330 .elementor-element.elementor-element-51a6ea3d img {
        max-width: 70%
    }

    .elementor-330 .elementor-element.elementor-element-7ef6693b {
        margin-top: 50px;
        margin-bottom: 0
    }

    .elementor-330 .elementor-element.elementor-element-a192e38 .elementor-heading-title {
        font-size: 25px
    }

    .elementor-330 .elementor-element.elementor-element-1e727699 {
        font-size: 15px
    }

    .elementor-330 .elementor-element.elementor-element-3bc8a6b .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-330 .elementor-element.elementor-element-3bc8a6b .elementor-icon-list-item>a {
        font-size: 15px
    }

    .elementor-330 .elementor-element.elementor-element-55884a5d img {
        max-width: 70%
    }

    .elementor-330 .elementor-element.elementor-element-a1ff2c0 .elementor-heading-title {
        font-size: 25px
    }

    .elementor-330 .elementor-element.elementor-element-b996c48 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-330 .elementor-element.elementor-element-b996c48 .elementor-icon-list-item>a {
        font-size: 15px
    }

    .elementor-330 .elementor-element.elementor-element-42368ba img {
        max-width: 70%
    }

    .elementor-330 .elementor-element.elementor-element-a540677 {
        margin-top: 50px;
        margin-bottom: 0
    }

    .elementor-330 .elementor-element.elementor-element-6c65644 .elementor-heading-title {
        font-size: 25px
    }

    .elementor-330 .elementor-element.elementor-element-7902b45 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-330 .elementor-element.elementor-element-7902b45 .elementor-icon-list-item>a {
        font-size: 15px
    }
}

@media(min-width:768px) {
    .elementor-330 .elementor-element.elementor-element-17ca2b00 {
        width: 35%
    }

    .elementor-330 .elementor-element.elementor-element-1bd87ee2 {
        width: 65%
    }

    .elementor-330 .elementor-element.elementor-element-267d4afe {
        width: 65%
    }

    .elementor-330 .elementor-element.elementor-element-24b9c693 {
        width: 35%
    }

    .elementor-330 .elementor-element.elementor-element-bb4ee62 {
        width: 35%
    }

    .elementor-330 .elementor-element.elementor-element-98411e3 {
        width: 65%
    }

    .elementor-330 .elementor-element.elementor-element-eea501f {
        width: 65%
    }

    .elementor-330 .elementor-element.elementor-element-d75af8b {
        width: 35%
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-330 .elementor-element.elementor-element-17ca2b00 {
        width: 100%
    }

    .elementor-330 .elementor-element.elementor-element-1bd87ee2 {
        width: 100%
    }

    .elementor-330 .elementor-element.elementor-element-267d4afe {
        width: 100%
    }

    .elementor-330 .elementor-element.elementor-element-24b9c693 {
        width: 100%
    }

    .elementor-330 .elementor-element.elementor-element-bb4ee62 {
        width: 100%
    }

    .elementor-330 .elementor-element.elementor-element-98411e3 {
        width: 100%
    }

    .elementor-330 .elementor-element.elementor-element-eea501f {
        width: 100%
    }

    .elementor-330 .elementor-element.elementor-element-d75af8b {
        width: 100%
    }
}